* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/sign-up.svg);
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
  font-family: 'Mulish', sans-serif;
  font-optical-sizing: auto;
}
button {
  border: none; /* Menghilangkan garis tepi (border) */
  outline: none; /* Menghilangkan garis luar (outline) */
}
:root {
  --primary-color: #ffff;
  --teks-body: #454c58;
  --light-grey: #a0a3bd;
  --second-color: #1d4ed8;
}
main {
  /* text-align: center; */
  margin: 50px auto;
}

.content-sign-up {
  margin: 35px auto;
  width: 546px;
  /* height: 756px; */
  padding: 35px 0;
  background-color: var(--primary-color);
  border-radius: 8px;
}
.logo-sign-up {
  text-align: center;
}
.step-login {
  display: flex;
  padding: 35px 0;
  width: 80%;
  margin: auto;
  /* background-color: aqua; */
  text-align: center;
  column-gap: 5px;
  justify-content: space-around;
}
.step-login > div:nth-child(2),
.step-login > div:nth-child(4) {
  width: 100px;
  height: 30px;
  /* background-color: #1d4ed8; */
  border-bottom: 2px dashed var(--light-grey);
}
/* .fill-form {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
/* } */
.fill-form > div,
.activate > div,
.done > div {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
  color: var(--primary-color);
}

.activate > p,
.done > p {
  margin-top: 5px;
  font-size: 14px;
  color: var(--light-grey);
}
.fill-form > div {
  background-color: var(--second-color);
  color: var(--primary-color);
}
.fill-form > p {
  margin-top: 5px;
  color: var(--teks-body);
  font-size: 14px;
}
/* from  */
form {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  font-size: 16px;
}
form > p:nth-child(5) {
  text-align: center;
  color: #696f79;
}
form > div:nth-child(6) {
  color: var(--light-grey);
  text-align: center;
}
/* inputan email and password */
form > div > input[name='email'],
form > div > input[name='password'] {
  height: 64px;
  width: 100%;
  padding-left: 20px;
  font-size: 16px;
  margin-top: 10px;
}
/* label[for='email'],
label[for='pwd'] {
  margin-bottom: 100px;
  background-color: #1d4ed8;
} */
/* inputan fisnish email and password */
/* button join */
form > button {
  height: 64px;
  background-color: var(--second-color);
  color: var(--primary-color);
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: bold;
}
form > button:hover {
  background-color: #062a8c;
}
/* input checkbocx */
form > div > input[name='check'] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* background-color: #1d4ed8; */
}
form > div > label[for='check'] {
  font-size: 16px;
}
/* input finish check box */
/* this btn google and facebook */
form > div > button {
  height: 64px;
  width: 182px;
  font-size: 18px;
  background-color: var(--primary-color);
  color: var(--light-grey);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
form > div:last-child {
  display: flex;
  column-gap: 20px;
  justify-content: space-around;
}
/* eye password */
form > div:nth-child(2) {
  position: relative;
}
form > div:nth-child(2) > img {
  position: absolute;
  right: 20px;
  top: 52px;
}
/* eye password finish */
/* untuk mengatur placholder */
/* input::placeholder {
  padding-left: 20px;
} */
